/* -----------------
     TOP SECTION
---------------------*/


.top-section{
    background-image: url("images/blue\ background.jpg");
    width: 1800px;
}
.top-container{
    /*background-color: #2D25A0;*/
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.top-container .top-caption{
    font-family: Poppins;
    /*font-style: normal;*/
    font-weight: bold;
    font-size: 60px;
    color: white; 
    padding-top: 207px;
    padding-left: 155px;  
    padding-bottom: 240px;
}
button{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    background: #E02C6D;  
}
button:hover{
    transform:scale(1.2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    background: #19cc19; 

}
.fa-arrow-right{
    padding-left:10px;
}
.top-container img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
    padding-top:153px ;
    padding-bottom: 86px;
    padding-right: 141px;
}
.top-container img:hover{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
    padding-top:153px ;
    padding-bottom: 86px;
    padding-right: 141px;
    transform: scale(1.5) rotate(10deg);
}
/*-------------------
      MIDDLE SECTION 
------------------------*/
.middle-container{
    padding-top: 70px;
    width: 900px;
}
.player-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;  
    
}

/*-----------------
      NEYMAR
      -------------- */ 
.neymar{
    padding-top: 70px;
    width: 330px;
    height:474px;
    margin-left: 180px;
    box-shadow: 0 0 30px 1px #aaacb9;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;   
}
.neymar img{
    width:300px;
    height: 256px;
    margin: 15px 15px;
    
}
.neymar-blog-title{
    color: #18191F;
    margin-left: 13px;
    margin-bottom: 15px;;
}
.neymar-blog{
    font-family: Poppins;
    font-size: 16px;
    color: #6C6C6C;
    width:300px;
    height: 104px;
    padding-left: -2px;
}


/*-----------------
      MESSI
      -------------- */ 
      .messi{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .messi img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .messi-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .messi-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }


    /*-----------------
      RONALDO
      -------------- */ 
.ronaldo{
    padding-top: 70px;
    width: 330px;
    height:474px;
    margin-left: 180px;
    box-shadow: 0 0 30px 1px #aaacb9;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;   
}
.ronaldo img{
    width:300px;
    height: 256px;
    margin: 15px 15px;
    
}
.ronaldo-blog-title{
    color: #18191F;
    margin-left: 13px;
    margin-bottom: 15px;;
}
.ronaldo-blog{
    font-family: Poppins;
    font-size: 16px;
    color: #6C6C6C;
    width:300px;
    height: 104px;
    padding-left: -2px;
}

/*-----------------
      PAULO
      -------------- */ 
      .paulo{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .paulo img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .paulo-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .paulo-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }

    
    /*-----------------
      OZIL
      -------------- */ 
      .ozil{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .ozil img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .ozil-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .ozil-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }

    
    
    /*-----------------
      MAURO
      -------------- */ 
      .mauro{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .mauro img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .mauro-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .mauro-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }


      /*-----------------
         MARIA
      -------------- */ 
      .maria{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .maria img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .maria-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .maria-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }
    

    
      /*-----------------
        KYLIAN
      -------------- */ 
      .kylian{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .kylian img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .kylian-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .kylian-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }

    /*-----------------
        SALAH
      -------------- */ 
      .salah{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .salah img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .salah-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .salah-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }
    

    /*-----------------
        HARRY
      -------------- */ 
      .harry{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .harry img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .harry-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .harry-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }

      /*-----------------
        KEVIN
      -------------- */ 
      .kevin{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .kevin img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .kevin-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .kevin-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }

      /*-----------------
        PHILIPPE
      -------------- */ 
      .philippe{
        padding-top: 70px;
        width: 330px;
        height:474px;
        margin-left: 180px;
        box-shadow: 0 0 30px 1px #aaacb9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;   
    }
    .philippe img{
        width:300px;
        height: 256px;
        margin: 15px 15px;
        
    }
    .philippe-blog-title{
        color: #18191F;
        margin-left: 13px;
        margin-bottom: 15px;;
    }
    .philippe-blog{
        font-family: Poppins;
        font-size: 16px;
        color: #6C6C6C;
        width:300px;
        height: 104px;
        padding-left: -2px;
    }

    /*-----------HIGHLIGHT----------*/
    .highlight-blog{
        overflow-wrap: break-word;
        font: bold;
        font-size: 35px;
        font-weight: 600;
        position: absolute;
        width: 469px;
        height: 309px;
        margin-left:182px;
        top: 3300px;

    }
    .highlight-text{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;

        font-size: 16px;
        color: #6C6C6C;
    }
    button.fa-arrow-right{
        position: static;
        width: 173px;
        height: 44px;
        left: 0px;
        top: 265px;
    }
    .highlight-image img{
        position: absolute;
        width: 567px;
        height: 427px;
        left: 717px;
        top:3300px;
       
    }
    /*-------------
    footer
    ---------------*/
    footer {
        margin-top: 800px;
        margin-bottom: 63px;
        margin-left:480px;
        margin-right: 482px;
        width: 483.87px;
        height: 213px; 
        align-content: center;
    }
    .footer-image img{
        width: 483px;
        height: 110px;
    }
    /*---------
    icon handling
    ----------*/
    footer .icons{
        display: flex;
        width: 170px;
        height: 12px;
        padding-left: 157px;
        padding-right: 157px;
        padding-top: 20px;
        justify-content: space-between;

    }
    .icon-1 img{
        width: 32px;
        height:32px;
    }
    .icon-2 img{
        width: 32px;
        height:32px;
    }
    .icon-3 img{
        width: 32px;
        height:32px;
    }
    .icon-4 img{
        width: 32px;
        height:32px;
    }
    /*--------------
    COPY RIGHT
    -----------*/
    .copy-right p{
        width: 236px;
        height: 31px;
        padding-left: 157px;
        padding-right: 157px;
        padding-top: 20px;
    }
    /*------------------
    media queries 
    -------------------*/
@media only screen and (max-width:360px)
 {
    
}
